# OS
.DS_Store

# development
.idea
_ide_helper*.php
.phpstorm.meta.php
phpunit.dusk.xml
.phpunit.result.cache

# composer
vendor
auth.json

# npm
node_modules
npm-debug.log

# laravel-mix
mix-manifest.json
public/vue

# misc
.env