#development
.idea
.DS_Store

# composer
vendor
auth.json

# npm
node_modules
npm-debug.log

# laravel-mix
mix-manifest.json
public/vue

.env
phpunit.dusk.xml
.phpunit.result.cache
_ide_helper*.php
.phpstorm.meta.php