<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="api-get">
            <directory suffix="Test.php">./tests/Feature/Api/Get</directory>
        </testsuite>

        <testsuite name="api-post">
            <directory suffix="Test.php">./tests/Feature/Api/Post</directory>
        </testsuite>

        <testsuite name="api-put">
            <directory suffix="Test.php">./tests/Feature/Api/Put</directory>
        </testsuite>

        <testsuite name="api-delete">
            <directory suffix="Test.php">./tests/Feature/Api/Delete</directory>
        </testsuite>

        <testsuite name="console">
            <directory suffix="Test.php">./tests/Feature/Console</directory>
        </testsuite>

        <testsuite name="web">
            <directory suffix="Test.php">./tests/Feature/Web</directory>
        </testsuite>

        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
