// Bulma
@import "~bulma-calendar/dist/css/bulma-calendar.css";
@import "~bulma-checkradio/dist/css/bulma-checkradio";
@import "~bulma/bulma"; // needs to be imported last or else expected classes get overwritten

// Toggle button
@import '~@vueform/toggle/themes/default';

// custom styling
.columns.is-gapless{
  margin-top: 3.25rem;
}

.has-padding-right{
  padding-right: 0.375rem;
}

.no-padding-top{
  padding-top: 0;
}

.is-checkradio[type=checkbox].is-block+label.checkbox-adjusted-top::after,
.is-checkradio[type=checkbox].is-block+label.checkbox-adjusted-top:after{
  top: 0.4rem;
}