// Bulma
@import "~bulma/bulma";
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";
@import "~bulma-checkradio/dist/css/bulma-checkradio";

// Snotify
@import "~vue-snotify/styles/material";

// v-tooltip
@import "tooltip";

// custom styling
.columns.is-gapless{
  margin-top: 3.25rem;
}

.has-padding-right{
  padding-right: 0.375rem;
}

.no-padding-top{
  padding-top: 0;
}

.is-checkradio[type=checkbox].is-block+label.checkbox-adjusted-top::after,
.is-checkradio[type=checkbox].is-block+label.checkbox-adjusted-top:after{
  top: 0.4rem;
}