//@import "~bulma/sass/utilities/initial-variables";
//@import "~bulma/sass/utilities/derived-variables";
//@import "~bulma-block-list/src/block-list";
@import "./vue-js-switch";

$width: 350px;
.select select,
.input{
  width: $width;
  max-width: $width;
}

.toggle-label{
  margin-top: 0.4rem;
}

.field.is-grouped.is-grouped-centered{
  max-width: 500px;
}

.button{
  width: 7rem;
  .fas{
    padding-right: 0.375rem;
  }
}

.block-list{
  margin: 1rem 2rem 0.5rem 0.5rem;
}

