.field{
  max-width: 30rem;
  margin: 0 1rem 1rem;
}
.section{
  padding-top: 0.5rem;
}
.subtitle.is-5{
  margin-bottom: 0.75rem;
}

.button{
  width: 30rem;

  .fas{
    padding-right: 0.375rem;
  }
}

.label{
  margin-bottom: 0;
}

#stats-display{
  .section:first-child{
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .section:last-child{
    padding-top: 0;

    .is-checkradio.is-info.is-small.is-block:checked+label::after{
      top: 0.4rem;
    }
  }
}