/* New/Edit Entry modal */
#entry-date{
    margin-left: 80px;
    width: 200px;
    padding: 0 5px;
}

#entry-value-label{
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 30px;
}
#entry-value-input-group{
    display: inline-table;
    width: 300px;
    padding-left: 37px;
}
#entry-value{
    width: 200px;
    font-weight: 700;
}

#entry-account-type {
    margin-left: 14px;
    width: 200px;
    padding: 6px;
}

#entry-account-name{
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    margin: 3px auto 5px;
    padding-left: 87px;
    width: 310px;
}

#entry-account-name span{
    padding-left: 2px;
}

#entry-memo-label {
    vertical-align: top;
}
#entry-memo {
    margin-left: 71px;
    height: 80px;
    width: 200px;
    padding: 3px 6px;
}

#entry-expense-switch-container{
    margin-bottom: 7px;
}

#entry-tag-value{
    vertical-align: top;
    padding-left: 12px;
}
#entry-tags {
    height: 105px;
}
#entry-tags-info {
    top: 10px;
    right: 100px;
    text-decoration: none;
}

#entry-delete{ float: left; }
#entry-save span{
    font-size: 12px;
    margin-right: 6px;
}
#entry-delete span{
    font-size: 10px;
    padding-left: 5px;
    margin-right: 6px;
}
#attachment-uploader{
    width: 350px;
    margin: auto;
}
#attachment_btns {
    margin: 10px auto 0;
    text-align: center;
}
#display_attachments {
    text-align: left;
    width: 400px;
    margin: 0 auto;
}
#display_attachments .btn {
    float: right;
    margin: -7px 2px 0;
}
#entry-modal .modal-header label.small {
    font-size: 65%;
}
#entry-modal .modal-header label.small input[type='checkbox']{
    width: 10px;
    height: 10px;
}
#entry-unlock,
#entry-lock{
    display: none;
    font-size: 15px;
}
/* END - New/Edit entry page */