/* Filter */
#filter-modal select,
#filter-modal input[type='date'],
#filter-modal input[type='text']{
    width: 200px;
    font-weight: 700;
}

.filter-modal-element{
    width: 400px;
    margin-bottom: 3px;
}
.filter-modal-element .input-group{
    width: 200px;
}

/* adjust height of account/account type filter modal switch so it the same height as the select */
.bootstrap-switch-id-filter-toggle-account-or-account-type,
.bootstrap-switch-id-filter-toggle-account-or-account-type .bootstrap-switch-container,
.bootstrap-switch-id-filter-toggle-account-or-account-type .bootstrap-switch-handle-off,
.bootstrap-switch-id-filter-toggle-account-or-account-type .bootstrap-switch-handle-on,
.bootstrap-switch-id-filter-toggle-account-or-account-type .bootstrap-switch-label{
    height: 34px;
}

#filter-tags{
    margin-left: 5px;
}
#filter-tags > label{
    min-width: 75px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#filter-tags > label:first-child{
    margin-left: -1px;
}

.label-tag,
.label-tag:focus,
.label-tag.focus{
    background-color: #287c8a;
}

.is-filtered{
    display: none;
    font-size: 10px;
    margin-left: 15px;
}

.expense-radio label{
    display: inline-block;
}
.expense-radio input[type="radio"]{
    margin: 0 25px 0 5px;
}

#filter-modal .input-group-addon.filter-modal-currency::after,
#filter-modal .input-group-addon.filter-modal-currency.USD::after,
#filter-modal .input-group-addon.filter-modal-currency.CAD::after{
    content: "$";
}
#filter-modal .input-group-addon.filter-modal-currency.EUR::after{
    content: "€";
}
#filter-modal .input-group-addon.filter-modal-currency.GBP::after{
    content: "£";
}
/* END - Filter */