#institutions-panel-column{
  background-color: whitesmoke;
}

.has-padding-right{
  padding-right: 0.375rem;
}

.no-padding-top{
  padding-top: 0;
}

.is-checkradio[type=checkbox].is-block+label.checkbox-adjusted-top::after,
.is-checkradio[type=checkbox].is-block+label.checkbox-adjusted-top:after{
  top: 0.4rem;
}

/* additional styling for voerro-tags-input component */
.tags-input input{
  font-size: 0.75rem;
}
.tags-input span{
  margin: 0 0.3rem 0 0;
}

// Bulma
@import "~bulma/bulma.sass";
@import "~bulma-accordion/dist/bulma-accordion.sass";
@import "~bulma-badge/dist/bulma-badge.sass";
@import "~bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "~bulma-tooltip/dist/bulma-tooltip.sass";

// Snotify
@import "~vue-snotify/styles/material";